.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $m-size;

    /* Large screens */
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: $l-size;
    }
}
.input-group__item {
    margin-bottom: $s-size;
}
/* Large screens */
@media (min-width: $desktop-breakpoint) {
    .input-group__item:nth-child(2) {
        margin: 0 $s-size $s-size;
    }
}
